.file-icon-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: end;
}

.file-icon-button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.file-icon-image-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.file-icon-filename {
    max-width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.file-icon-delete-button {
    display: flex;
    justify-content: flex-start;
    align-items: end;
    height: 100%;
}

.file-icon-image {
    height: 100px;
    width: 100px;
    margin: 0 auto;
}

.mac-header {
    background-color: #3f3f3f;
    height: 35px;
    border-radius: 13px 13px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mac-circles-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.mac-body {
    height: calc(100% - 85px);
    padding: 3em;
    overflow-x: hidden;
    overflow-y: auto;
}

.mac-footer {
    height: 25px;
    display: flex;
    padding: 0 1em;
    margin: 0 0 em 0;
    justify-content: space-between;
    flex-direction: row;
}

.mac-circles {
    height: 15px;
    width: 15px;
    border-radius: 100px;
    margin: 0 0.5em;
    cursor: pointer;
}

.mac-circles-red {
    background-color: #d9534f;
}

.mac-circles-yellow {
    background-color: #f0ad4e;
}

.mac-circles-green {
    background-color: #5cb85c;
}

.filename-input {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    padding: 10px 10px;
    font-size: 15px;
    outline: none !important;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.filename-input:focus {
    box-shadow:
    0 0 0 4px hsl(208, 40%, 86%);
    border: none;
}

.open-file {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    background-color: hsl(0, 0%, 50%);
    border-radius: 5px;
    outline: none !important;
    border: none;
    padding: 5px 10px;
    height: 25px;
    margin: 0 5px 0 20px;
}

.create-file {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    background-color: #3063d6;
    border-radius: 5px;
    outline: none !important;
    border: none;
    padding: 5px 10px;
    height: 25px;
    margin: 0 20px 0 5px;
}